body {
    margin: 0;
}

nav {
    height: 7vh;
    align-items: center;
    display:flex;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    margin-right: 0px;
}

#search-container-start {
    height: -webkit-fill-available;
    display: inline-block;
    padding-right:2.8%;
    padding-top: .3125rem;
    width:5%;
}

#search-container {
    height: -webkit-fill-available;
    display: inline-block;
    padding-right:2.8%;
    padding-top: .3125rem;
    width:5%;
}

#search-container-start::before {
    content: "";
    border-radius: 50%;
    width: 2.15%;
    height: 32.5%;
    border: 4px solid red;
    position: absolute;
    animation: grow 1s infinite;
}

@keyframes grow {
    from {
        transform: scale(1.2);
    }
    to { 
        transform: scale(1.8);
        opacity: 0;
    }
}

#search-icon {
    height: 20px;
    margin-left: auto;
    flex-direction: column;
    margin-right: 1rem;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    background-color: #343a40!important;
}
input {
    font-family: 'Montserrat';
    position: absolute;
    z-index: 1;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    border: none;
    background-color: white;
    color: rgb(151, 152, 153);
    cursor: pointer;    
    outline: none;
    font-size: 1.6em;
    padding-left: 2.5%;
    transition: width 1s ease;
}

#tip {
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

#search-btn {
    height: 19px;
    width: 19px;
    cursor: pointer;
    z-index: 2;
    transition: margin-right 1s ease;
}

#map {
    width: 100%;
    height: 100%;
}

.map-info {
    background-color: bisque;
    height: 400px;
    /*margin-top: 0.5%;*/
}

.data-info {
    height: 700px;

}

.info-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.chart-info {
    width: 30%;
    height: 40%;
    position: relative;

}


.info-confirmed,
.info-recovered,
.info-deaths {
    font-size: 16px;
    margin-top: 5px;
}

.info-flag {
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
    text-align: center;
}

.info-flag img {
    width: 100px;
    border-radius: 5px;
}

#country-table {
    width: 40%;
    margin-top: 20px;
    border-radius: 10px;
    overflow-y: scroll;
}

.data-info {
    display: flex;
    justify-content: center;
    height: 700px;
}

.table-flag {
    max-width: 10%;
    max-height: 15%;
    border-radius: 15%;
    margin-right: 3%;
}

.table thead th {
    white-space: nowrap;
}