body {
    margin: 0;
}

nav {
    height: 7vh;
    align-items: center;
    display:flex;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    margin-right: 0px;
}

#search-container {
    height: -webkit-fill-available;
    display: inline-block;
    padding-top: .3125rem;
    width:5%;
}

#search-icon {
    height: 20px;
    margin-left: auto;
    flex-direction: column;
    margin-right: 1rem;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    background-color: #343a40!important;
}
input {
    font-family: 'Montserrat';
    position: absolute;
    z-index: 1;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    border: none;
    color: white;
    cursor: pointer;    
    outline: none;
    font-size: 1.6em;
}

#tip {
    color: white;
    visibility: hidden;
}

#search-btn {
    height: 19px;
    width: 19px;
    display:block;
    cursor: pointer;
    position: absolute;
    z-index: 2;
}




#map {
    width: 100%;
    height: 100%;
}

.map-info {
    background-color: bisque;
    height: 400px;
    /*margin-top: 0.5%;*/
}

.data-info {
    height: 700px;

}

.info-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.chart-info {
    width: 30%;
    height: 40%;
    position: relative;

}


.info-confirmed,
.info-recovered,
.info-deaths {
    font-size: 16px;
    margin-top: 5px;
}

.info-flag {
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
    text-align: center;
}

.info-flag img {
    width: 100px;
    border-radius: 5px;
}

#country-table {
    width: 40%;
    margin-top: 20px;
    border-radius: 10px;
    overflow-y: scroll;
}

.data-info {
    display: flex;
    justify-content: center;
    height: 700px;
}

.table-flag {
    max-width: 10%;
    max-height: 15%;
    border-radius: 15%;
    margin-right: 3%;
}

.table thead th {
    white-space: nowrap;
}