body {
    margin: 0;
}

#nav {
    background-color: blue;
    height: 50px;
}

#map {
    width: 100%;
    height: 100%;
}

.map-info {
    background-color: bisque;
    height: 400px;
}

.data-info {
    height: 700px;

}

.info-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}
.chart-info {
    width:30%;
    height: 40%;
    position: relative;
    
}


.info-confirmed,
.info-recovered,
.info-deaths {
    font-size: 16px;
    margin-top: 5px;
}

.info-flag {
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
    text-align: center;
}

.info-flag img {
    width: 100px;
    border-radius: 5px;
}

#country-table {
    width: 40%;
    margin-top: 20px;
    border-radius: 10px;
    overflow-y: scroll;
}

.data-info {
    display: flex;
    justify-content:center;
    height: 700px;
}

.table-flag {
    max-width: 100%;
    max-height: 15%;
    border-radius: 15%;
    margin-right: 3%;
}

.table thead th {
    white-space: nowrap;
}